# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
/lib/osip/platform/vsnet/osipparser2/Win32/Debug/*.pdb
/lib/osip/help/*.bsd
/input/sip01m
/input/sip50
/input/sipEkigaInvite
/lib/libeXosip2-4.1.0/AUTHORS
/lib/libeXosip2-4.1.0/ChangeLog
/lib/libeXosip2-4.1.0/configure
/lib/libeXosip2-4.1.0/COPYING
/lib/libeXosip2-4.1.0/help/doxygen/DoxyFile
/lib/libeXosip2-4.1.0/INSTALL
/lib/libeXosip2-4.1.0/NEWS
/lib/libeXosip2-4.1.0/README
/lib/libeXosip2-4.1.0/scripts/depcomp
/lib/libeXosip2-4.1.0/scripts/install-sh
/lib/libeXosip2-4.1.0/scripts/missing
/lib/libeXosip2-4.1.0/scripts/mkinstalldirs
/lib/osip/AUTHORS
/lib/osip/BUGS
/lib/osip/ChangeLog
/lib/osip/configure
/lib/osip/COPYING
/lib/osip/FEATURES
/lib/osip/help/doxygen/DoxyFile
/lib/osip/HISTORY
/lib/osip/INSTALL
/lib/osip/NEWS
/lib/osip/README
/lib/osip/scripts/depcomp
/lib/osip/scripts/install-sh
/lib/osip/scripts/missing
/lib/osip/scripts/mkinstalldirs
/lib/osip/src/test/CHECK
/lib/osip/src/test/res/sdp0
/lib/osip/src/test/res/sdp1
/lib/osip/src/test/res/sdp10
/lib/osip/src/test/res/sdp11
/lib/osip/src/test/res/sdp12
/lib/osip/src/test/res/sdp13
/lib/osip/src/test/res/sdp14
/lib/osip/src/test/res/sdp15
/lib/osip/src/test/res/sdp2
/lib/osip/src/test/res/sdp3
/lib/osip/src/test/res/sdp4
/lib/osip/src/test/res/sdp5
/lib/osip/src/test/res/sdp6
/lib/osip/src/test/res/sdp7
/lib/osip/src/test/res/sdp8
/lib/osip/src/test/res/sdp9
/lib/osip/src/test/res/sip-malformed0
/lib/osip/src/test/res/sip-malformed1
/lib/osip/src/test/res/sip-malformed2
/lib/osip/src/test/res/sip-malformed3
/lib/osip/src/test/res/sip-malformed4
/lib/osip/src/test/res/sip-malformed5
/lib/osip/src/test/res/sip-malformed6
/lib/osip/src/test/res/sip-malformed8
/lib/osip/src/test/res/sip0
/lib/osip/src/test/res/sip1
/lib/osip/src/test/res/sip10
/lib/osip/src/test/res/sip11
/lib/osip/src/test/res/sip12
/lib/osip/src/test/res/sip13
/lib/osip/src/test/res/sip14
/lib/osip/src/test/res/sip15
/lib/osip/src/test/res/sip16
/lib/osip/src/test/res/sip17
/lib/osip/src/test/res/sip18
/lib/osip/src/test/res/sip19
/lib/osip/src/test/res/sip2
/lib/osip/src/test/res/sip20
/lib/osip/src/test/res/sip21
/lib/osip/src/test/res/sip22
/lib/osip/src/test/res/sip23
/lib/osip/src/test/res/sip24
/lib/osip/src/test/res/sip25
/lib/osip/src/test/res/sip26
/lib/osip/src/test/res/sip27
/lib/osip/src/test/res/sip28
/lib/osip/src/test/res/sip29
/lib/osip/src/test/res/sip3
/lib/osip/src/test/res/sip30
/lib/osip/src/test/res/sip31
/lib/osip/src/test/res/sip32
/lib/osip/src/test/res/sip33
/lib/osip/src/test/res/sip34
/lib/osip/src/test/res/sip35
/lib/osip/src/test/res/sip36
/lib/osip/src/test/res/sip37
/lib/osip/src/test/res/sip38
/lib/osip/src/test/res/sip39
/lib/osip/src/test/res/sip4
/lib/osip/src/test/res/sip40
/lib/osip/src/test/res/sip41
/lib/osip/src/test/res/sip42
/lib/osip/src/test/res/sip43
/lib/osip/src/test/res/sip44
/lib/osip/src/test/res/sip45
/lib/osip/src/test/res/sip46
/lib/osip/src/test/res/sip47
/lib/osip/src/test/res/sip48
/lib/osip/src/test/res/sip49
/lib/osip/src/test/res/sip5
/lib/osip/src/test/res/sip50
/lib/osip/src/test/res/sip51
/lib/osip/src/test/res/sip52
/lib/osip/src/test/res/sip53
/lib/osip/src/test/res/sip54
/lib/osip/src/test/res/sip55
/lib/osip/src/test/res/sip56
/lib/osip/src/test/res/sip57
/lib/osip/src/test/res/sip58
/lib/osip/src/test/res/sip59
/lib/osip/src/test/res/sip6
/lib/osip/src/test/res/sip60
/lib/osip/src/test/res/sip61
/lib/osip/src/test/res/sip62
/lib/osip/src/test/res/sip63
/lib/osip/src/test/res/sip64
/lib/osip/src/test/res/sip65
/lib/osip/src/test/res/sip66
/lib/osip/src/test/res/sip67
/lib/osip/src/test/res/sip68
/lib/osip/src/test/res/sip69
/lib/osip/src/test/res/sip7
/lib/osip/src/test/res/sip70
/lib/osip/src/test/res/sip71
/lib/osip/src/test/res/sip72
/lib/osip/src/test/res/sip73
/lib/osip/src/test/res/sip74
/lib/osip/src/test/res/sip75
/lib/osip/src/test/res/sip76
/lib/osip/src/test/res/sip77
/lib/osip/src/test/res/sip78
/lib/osip/src/test/res/sip79
/lib/osip/src/test/res/sip8
/lib/osip/src/test/res/sip80
/lib/osip/src/test/res/sip81
/lib/osip/src/test/res/sip82
/lib/osip/src/test/res/sip83
/lib/osip/src/test/res/sip84
/lib/osip/src/test/res/sip85
/lib/osip/src/test/res/sip86
/lib/osip/src/test/res/sip87
/lib/osip/src/test/res/sip88
/lib/osip/src/test/res/sip9
/lib/osip/src/test/res/torture_hgs
/lib/osip/src/test/res/torture_msgs2
/lib/osip/src/test/res/torture_sdps
/lib/osip/src/test/tst
/lib/osip/TODO
/other/speex-1.2rc1/AUTHORS
/other/speex-1.2rc1/ChangeLog
/other/speex-1.2rc1/configure
/other/speex-1.2rc1/COPYING
/other/speex-1.2rc1/depcomp
/other/speex-1.2rc1/INSTALL
/other/speex-1.2rc1/install-sh
/other/speex-1.2rc1/missing
/other/speex-1.2rc1/NEWS
/other/speex-1.2rc1/README
/other/speex-1.2rc1/TODO
/lib/osip/help/man/*.1
/other/speex-1.2rc1/src/*.1
/lib/libeXosip2-4.1.0/*.ac
/lib/osip/*.ac
/other/speex-1.2rc1/*.ac
/lib/libeXosip2-4.1.0/help/doxygen/*.am
/lib/libeXosip2-4.1.0/help/*.am
/lib/libeXosip2-4.1.0/include/eXosip2/*.am
/lib/libeXosip2-4.1.0/include/*.am
/lib/libeXosip2-4.1.0/*.am
/lib/libeXosip2-4.1.0/platform/*.am
/lib/libeXosip2-4.1.0/platform/vsnet/*.am
/lib/libeXosip2-4.1.0/scripts/*.am
/lib/libeXosip2-4.1.0/src/*.am
/lib/libeXosip2-4.1.0/tools/*.am
/lib/osip/help/doxygen/*.am
/lib/osip/help/*.am
/lib/osip/help/man/*.am
/lib/osip/include/*.am
/lib/osip/include/osip2/*.am
/lib/osip/include/osipparser2/headers/*.am
/lib/osip/include/osipparser2/*.am
/lib/osip/*.am
/lib/osip/platform/*.am
/lib/osip/platform/rpm/*.am
/lib/osip/platform/vsnet/*.am
/lib/osip/scripts/*.am
/lib/osip/src/*.am
/lib/osip/src/osip2/*.am
/lib/osip/src/osipparser2/*.am
/lib/osip/src/test/*.am
/lib/osip/src/test/res/*.am
/other/speex-1.2rc1/doc/*.am
/other/speex-1.2rc1/include/*.am
/other/speex-1.2rc1/include/speex/*.am
/other/speex-1.2rc1/libspeex/*.am
/other/speex-1.2rc1/*.am
/other/speex-1.2rc1/src/*.am
/other/speex-1.2rc1/symbian/*.am
/other/speex-1.2rc1/ti/*.am
/other/speex-1.2rc1/ti/speex_C54_test/*.am
/other/speex-1.2rc1/ti/speex_C55_test/*.am
/other/speex-1.2rc1/ti/speex_C64_test/*.am
/other/speex-1.2rc1/win32/libspeex/*.am
/other/speex-1.2rc1/win32/*.am
/other/speex-1.2rc1/win32/speexdec/*.am
/other/speex-1.2rc1/win32/speexenc/*.am
/other/speex-1.2rc1/win32/VS2003/libspeex/*.am
/other/speex-1.2rc1/win32/VS2003/libspeexdsp/*.am
/other/speex-1.2rc1/win32/VS2003/*.am
/other/speex-1.2rc1/win32/VS2003/speexdec/*.am
/other/speex-1.2rc1/win32/VS2003/speexenc/*.am
/other/speex-1.2rc1/win32/VS2003/tests/*.am
/other/speex-1.2rc1/win32/VS2005/libspeex/*.am
/other/speex-1.2rc1/win32/VS2005/libspeexdsp/*.am
/other/speex-1.2rc1/win32/VS2005/*.am
/other/speex-1.2rc1/win32/VS2005/speexdec/*.am
/other/speex-1.2rc1/win32/VS2005/speexenc/*.am
/other/speex-1.2rc1/win32/VS2005/tests/*.am
/other/speex-1.2rc1/win32/VS2008/libspeex/*.am
/other/speex-1.2rc1/win32/VS2008/libspeexdsp/*.am
/other/speex-1.2rc1/win32/VS2008/*.am
/other/speex-1.2rc1/win32/VS2008/speexdec/*.am
/other/speex-1.2rc1/win32/VS2008/speexenc/*.am
/other/speex-1.2rc1/win32/VS2008/tests/*.am
/other/speex-1.2rc1/*.blackfin
/other/speex-1.2rc1/ti/speex_C54_test/*.cmd
/other/speex-1.2rc1/ti/speex_C55_test/*.cmd
/other/speex-1.2rc1/ti/speex_C64_test/*.cmd
/lib/osip/*.cproject
/lib/libeXosip2-4.1.0/platform/vsnet/*.def
/lib/osip/platform/vsnet/*.def
/other/speex-1.2rc1/win32/*.def
/lib/libeXosip2-4.1.0/help/doxygen/*.dox
/lib/osip/help/doxygen/*.dox
/other/speex-1.2rc1/win32/libspeex/*.dsp
/other/speex-1.2rc1/win32/speexdec/*.dsp
/other/speex-1.2rc1/win32/speexenc/*.dsp
/other/speex-1.2rc1/win32/libspeex/*.dsw
/other/speex-1.2rc1/win32/speexdec/*.dsw
/other/speex-1.2rc1/win32/speexenc/*.dsw
/proj/_sip_proxy/_sip_proxy_proj/*.filters
/lib/libeXosip2-4.1.0/scripts/*.guess
/lib/osip/scripts/*.guess
/other/speex-1.2rc1/*.guess
/lib/osip/platform/vsnet/osip2/Win32/Debug/*.idb
/lib/osip/platform/vsnet/osipparser2/Win32/Debug/*.idb
/lib/libeXosip2-4.1.0/*.in
/lib/libeXosip2-4.1.0/help/doxygen/*.in
/lib/libeXosip2-4.1.0/help/*.in
/lib/libeXosip2-4.1.0/include/eXosip2/*.in
/lib/libeXosip2-4.1.0/include/*.in
/lib/libeXosip2-4.1.0/platform/*.in
/lib/libeXosip2-4.1.0/platform/vsnet/*.in
/lib/libeXosip2-4.1.0/scripts/*.in
/lib/libeXosip2-4.1.0/src/*.in
/lib/libeXosip2-4.1.0/tools/*.in
/lib/osip/help/doxygen/*.in
/lib/osip/help/*.in
/lib/osip/help/man/*.in
/lib/osip/include/*.in
/lib/osip/include/osip2/*.in
/lib/osip/include/osipparser2/headers/*.in
/lib/osip/include/osipparser2/*.in
/lib/osip/*.in
/lib/osip/platform/*.in
/lib/osip/platform/rpm/*.in
/lib/osip/platform/vsnet/*.in
/lib/osip/scripts/*.in
/lib/osip/src/*.in
/lib/osip/src/osip2/*.in
/lib/osip/src/osipparser2/*.in
/lib/osip/src/test/*.in
/lib/osip/src/test/res/*.in
/other/speex-1.2rc1/*.in
/other/speex-1.2rc1/doc/*.in
/other/speex-1.2rc1/include/*.in
/other/speex-1.2rc1/include/speex/*.in
/other/speex-1.2rc1/libspeex/*.in
/other/speex-1.2rc1/src/*.in
/other/speex-1.2rc1/symbian/*.in
/other/speex-1.2rc1/ti/*.in
/other/speex-1.2rc1/ti/speex_C54_test/*.in
/other/speex-1.2rc1/ti/speex_C55_test/*.in
/other/speex-1.2rc1/ti/speex_C64_test/*.in
/other/speex-1.2rc1/win32/libspeex/*.in
/other/speex-1.2rc1/win32/*.in
/other/speex-1.2rc1/win32/speexdec/*.in
/other/speex-1.2rc1/win32/speexenc/*.in
/other/speex-1.2rc1/win32/VS2003/libspeex/*.in
/other/speex-1.2rc1/win32/VS2003/libspeexdsp/*.in
/other/speex-1.2rc1/win32/VS2003/*.in
/other/speex-1.2rc1/win32/VS2003/speexdec/*.in
/other/speex-1.2rc1/win32/VS2003/speexenc/*.in
/other/speex-1.2rc1/win32/VS2003/tests/*.in
/other/speex-1.2rc1/win32/VS2005/libspeex/*.in
/other/speex-1.2rc1/win32/VS2005/libspeexdsp/*.in
/other/speex-1.2rc1/win32/VS2005/*.in
/other/speex-1.2rc1/win32/VS2005/speexdec/*.in
/other/speex-1.2rc1/win32/VS2005/speexenc/*.in
/other/speex-1.2rc1/win32/VS2005/tests/*.in
/other/speex-1.2rc1/win32/VS2008/libspeex/*.in
/other/speex-1.2rc1/win32/VS2008/libspeexdsp/*.in
/other/speex-1.2rc1/win32/VS2008/*.in
/other/speex-1.2rc1/win32/VS2008/speexdec/*.in
/other/speex-1.2rc1/win32/VS2008/speexenc/*.in
/other/speex-1.2rc1/win32/VS2008/tests/*.in
/other/speex-1.2rc1/symbian/*.inf
/other/speex-1.2rc1/win32/*.iss
/other/speex-1.2rc1/*.kdevelop
/lib/osip/platform/vsnet/osip2/Win32/Debug/osip2.tlog/*.lastbuildstate
/lib/osip/platform/vsnet/osipparser2/Win32/Debug/osipparser2.tlog/*.lastbuildstate
/lib/libeXosip2-4.1.0/help/*.linux
/lib/osip/help/*.linux
/lib/osip/help/*.linuxe
/lib/osip/platform/vsnet/osip2/Win32/Debug/*.log
/lib/osip/platform/vsnet/osipparser2/Win32/Debug/*.log
/proj/_sip_proxy/_sip_proxy_proj/Debug/*.log
/other/speex-1.2rc1/libspeex/*.m
/lib/libeXosip2-4.1.0/*.m4
/lib/libeXosip2-4.1.0/scripts/*.m4
/lib/osip/*.m4
/lib/osip/scripts/*.m4
/other/speex-1.2rc1/*.m4
/other/speex-1.2rc1/symbian/*.mmp
/lib/osip/platform/vsnet/*.opensdf
/proj/_sip_proxy/*.opensdf
/lib/libeXosip2-4.1.0/*.OpenSSL
/lib/osip/platform/vsnet/osip2/Win32/Debug/*.pdb
/other/speex-1.2rc1/doc/*.pdf
/other/speex-1.2rc1/ti/speex_C54_test/*.pjt
/other/speex-1.2rc1/ti/speex_C55_test/*.pjt
/other/speex-1.2rc1/ti/speex_C64_test/*.pjt
/lib/osip/.settings/*.prefs
/lib/osip/*.project
/lib/osip/platform/vsnet/*.sdf
/proj/_sip_proxy/*.sdf
/lib/osip/help/man/*.sgml
/lib/libeXosip2-4.1.0/*.sh
/lib/libeXosip2-4.1.0/scripts/*.sh
/lib/osip/*.sh
/lib/osip/scripts/*.sh
/other/speex-1.2rc1/*.sh
/lib/libeXosip2-4.1.0/platform/vsnet/*.sln
/lib/osip/platform/vsnet/*.sln
/other/speex-1.2rc1/win32/VS2003/*.sln
/other/speex-1.2rc1/win32/VS2005/*.sln
/other/speex-1.2rc1/win32/VS2008/*.sln
/proj/_sip_proxy/*.sln
/lib/osip/platform/rpm/*.spec
/other/speex-1.2rc1/*.spec
/lib/libeXosip2-4.1.0/scripts/*.sub
/lib/osip/scripts/*.sub
/other/speex-1.2rc1/*.sub
/lib/osip/platform/vsnet/*.suo
/proj/_sip_proxy/*.suo
/other/speex-1.2rc1/*.symbian
/other/speex-1.2rc1/*.TI-DSP
/lib/osip/platform/vsnet/osip2/Win32/Debug/osip2.tlog/*.tlog
/lib/osip/platform/vsnet/osipparser2/Win32/Debug/osipparser2.tlog/*.tlog
/lib/osip/src/test/res/*.txt
/*.txt
/lib/osip/help/*.unix
/proj/_sip_proxy/_sip_proxy_proj/*.user
/other/speex-1.2rc1/win32/VS2003/libspeex/*.vcproj
/other/speex-1.2rc1/win32/VS2003/libspeexdsp/*.vcproj
/other/speex-1.2rc1/win32/VS2003/speexdec/*.vcproj
/other/speex-1.2rc1/win32/VS2003/speexenc/*.vcproj
/other/speex-1.2rc1/win32/VS2003/tests/*.vcproj
/other/speex-1.2rc1/win32/VS2005/libspeex/*.vcproj
/other/speex-1.2rc1/win32/VS2005/libspeexdsp/*.vcproj
/other/speex-1.2rc1/win32/VS2005/speexdec/*.vcproj
/other/speex-1.2rc1/win32/VS2005/speexenc/*.vcproj
/other/speex-1.2rc1/win32/VS2005/tests/*.vcproj
/other/speex-1.2rc1/win32/VS2008/libspeex/*.vcproj
/other/speex-1.2rc1/win32/VS2008/libspeexdsp/*.vcproj
/other/speex-1.2rc1/win32/VS2008/speexdec/*.vcproj
/other/speex-1.2rc1/win32/VS2008/speexenc/*.vcproj
/other/speex-1.2rc1/win32/VS2008/tests/*.vcproj
/lib/libeXosip2-4.1.0/platform/vsnet/*.vcxproj
/lib/osip/platform/vsnet/*.vcxproj
/proj/_sip_proxy/_sip_proxy_proj/*.vcxproj
/lib/osip/help/*.vxworks
/lib/osip/help/*.win32
/lib/osip/help/*.wince
